




/*
     FILE ARCHIVED ON 3:34:23 thg 4 14, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 11:53:51 thg 1 5, 2016.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
.formcontrols .blockrow .dbtech_shouts .dbtech_vbshout_tabs.alt {
	background-color:#ffffff;
}

.formcontrols .blockrow .dbtech_shouts .dbtech_vbshout_tabs.alt2 {
	background:#e4e4e4 none   ;
}

.dbtech_vbshout_shout.alt1 {
	vertical-align:middle;
	background-color:#ffffff;
}

.dbtech_vbshout_shout.alt2 {
	vertical-align:middle;
	background:#f2f2f2 none repeat-x  ;
}

.formcontrols .blockrow .dbtech_shouts .dbtech_vbshout_window .dbtech_vbshout_frame {
	background:#ffffff none   ;
}

.formcontrols .blockrow .dbtech_shouts .dbtech_vbshout_highlight {
	background: #FFEB90 none repeat-x   !important;
}