




/*
     FILE ARCHIVED ON 16:31:43 thg 4 23, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 11:53:49 thg 1 5, 2016.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
@charset "UTF-8";
/* CSS Document */

.formcontrols .blockrow.texteditor {
	border-top:none;
}

.editor {
	border-top:solid 1px #6b91ab;
}

.editor_controls {
	padding:6px 6px 6px 0;
        _display:none; /* disabling clickable controls for IE6, although the form remains fully-functional, including keyboard-controls: select a word, hit control-b to bold a word in the editor. */
	float:left;
	width:100%;
}

.editor_controls > ul {
	clear:left;
}

.editor_controls > ul.right li > * {
	display:inline;
	float:left;
}

.editor_controls > ul.right {
	float:right;
}
.editor_control_group_item { 	
	margin-right: 6px; 
}
.editor_controls ul.right {
	_float:right;
}

.editor_controls > ul > li {
	background:url(/web/20150423163143/http://www.redhawkscans.com/dbtech/vbshout/images/editor/separator.gif) no-repeat left;
	padding-left:6px;
	float:left;
	position: relative;
}
.editor_controls li , .editor_controls ul.right li, .editor_controls .popupmenu div.popupctrl {
	_display: inline;
}
.editor_controls > ul > li:first-child {
	background-image:none;
	padding-left:0px;
}

.editor_controls > ul.right > li:first-child {
	background-image:none;
	padding-right:5px;
}

.editor_controls a.popupctrl img,
.popupmenu .popupbody li img {
	vertical-align:middle;
}

.editor_controls a.popupctrl {
	text-decoration:none;
}

.editor_controls .imagebutton {
	padding:1px;
	background-color:  url(/web/20150423163143/http://www.redhawkscans.com/clientscript/ckeditor/skins/kama/images/sprites.png) repeat-x 0px -500px;
}

.editor_controls .colorbutton {
	float:left;
	margin:1px;
	border:0;
}

.editor_controls .colorbutton div {
	border:1px solid #ACA899;
	height:10px;
	width:10px;
	margin:2px;
}

.editor_controls .vbedit_colorbutton {
	padding-bottom:4px;
}

.editor_controls .vbedit_colorbar {
	position:absolute;
	background-color:black;
	top:15px;
	left:6px;
}

.formcontrols .blockrow .editor_textbox textarea:focus {
	background-color:rgb(244, 244, 244);
}

.editor_container {
	float:left;
	margin-right:-90px;
	width:100%
}

.editorpopupbody {
	max-height:250px;
	*overflow:auto;
	overflow-y:auto;
	overflow-x:hidden;
}

.popupmenu.sizes .popupbody {
	min-width:50px;
	text-align:center;
}

.popupmenu.colors .popupbody {
	min-width:144px;
}

.editor_controls .popupmenu .popupbody {
	background:#FFFFFF;
	border: 1px solid #C4C4C4;
}

.editor_controls .fontsize,
.editor_controls .fontname {
	padding:1px;
	border-top:none;
	/*font-size:14px;*/
}

.editor_controls .popupmenu .popupbody li > a {
	padding:1px 3px;
	overflow:hidden;
	background:none;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border-radius:0;
	color:#000000;
	font:inherit;
}

.editor_controls .popupmenu .popupbody li > a:hover {
	color:#000000;
}

.popupmenu.colors {
	position:relative;
}

.popupmenu.fonts div.popupctrl {
	width:91px;
}

.popupmenu.sizes div.popupctrl {
	width:45px;
}

.editor_controls a.popupctrl {
	border:1px solid #E1E1E1;
	height:18px;
	line-height:17px;
}

.editor_controls .popupmenu div.popupctrl {
	height:18px;
	border:1px solid #E1E1E1;
	color:#000000;
	line-height:17px;
	background-color:#FFFFFF;
	padding-right:10px;
	background-image:url(/web/20150423163143/http://www.redhawkscans.com/dbtech/vbshout/images/misc/popupctrl.png);
	background-position:right center;
	background-repeat:no-repeat;
	padding: 1px;
	padding-right: 10px;
}

.popupmenu.imagemenu div.popupctrl, .editor_controls .popupmenu .popupctrl {
	padding:1px;
	padding-right:10px;
	background-color:  url(/web/20150423163143/http://www.redhawkscans.com/clientscript/ckeditor/skins/kama/images/sprites.png) repeat-x 0px -500px;
	border:none;
}

.popupmenu.imagemenu div.popupctrl.active {
	padding:0px;
	padding-right:10px;
	margin-right:-1px;
}

.popupmenu.fonts div.popupctrl div,
.popupmenu.sizes div.popupctrl div {
	font-size:11px;
	font-family:tahoma;
	overflow:hidden;
	white-space:nowrap;
	padding:0 3px 0 3px;
	_display:inline;
}

.editor_controls .imagebutton_selected,
.editor_controls .imagebutton_hover,
.editor_controls .imagebutton_down,
.editor_controls a.popupmenu {
	padding:0;
	margin:0;
}

.editor_controls .popupmenu .popupctrl.active,
.editor_controls .popupmenu .popupctrl.imagebutton_hover,
.editor_controls .imagebutton_selected,
.editor_controls .imagebutton_down,
.editor_controls .imagebutton_hover {
	background-color: #C1D2EE;
	border: 1px solid #6B91AB;
	padding: 0;
}

.editor_controls .popupmenu .popupctrl.active {
	padding-right: 10px;
	margin: 0;
}

.editor_controls .popupmenu .popupctrl.imagebutton_hover {
	padding-right: 10px;
	margin-right: -1px;
}

.editor_controls .popupmenu.fonts div.popupctrl.active,
.editor_controls .popupmenu.fonts div.popupctrl.imagebutton_hover,
.editor_controls .popupmenu.sizes div.popupctrl.active,
.editor_controls .popupmenu.sizes div.popupctrl.imagebutton_hover {
	padding: 1px;
	padding-right: 10px;
	margin-right: 0;
}

.editor_controls .popupmenu .popupctrl.active div,
.editor_controls .popupmenu .popupctrl.imagebutton_hover div {
	font-size: 11px;
	font-family: tahoma;
	overflow: hidden;
	white-space: nowrap;
	padding: 0 3px;
	_display: inline;
}

.editor_controls .popupmenu .popupctrl.active,
.editor_controls .popupmenu .popupctrl.imagebutton_hover,
.editor_controls .imagebutton_hover {
	background-color: #C1D2EE;
	border: solid 1px #6B91AB;
	padding: 0;
}

.editor_controls .imagebutton_selected {
	background-color: #F1F6F8;
	border: solid 1px #6B91AB;
	padding: 0;
}

.editor_controls .imagebutton_down {
	background-color: #97B5E2;
	border: solid 1px #6B91AB;
	padding: 0;
}

.editor_controls .popupmenu .popupctrl.active {
	padding-right: 10px;
	margin: 0;
}

.editor_controls .popupmenu .popupctrl.imagebutton_hover {
	padding-right: 10px;
	margin-right: -1px;
}

.editor_controls .popupmenu.fonts div.popupctrl.active,
.editor_controls .popupmenu.fonts div.popupctrl.imagebutton_hover,
.editor_controls .popupmenu.sizes div.popupctrl.active,
.editor_controls .popupmenu.sizes div.popupctrl.imagebutton_hover {
	padding: 1px;
	padding-right: 10px;
	margin-right: 0;
}

.editor_controls .popupmenu .popupctrl.active div,
.editor_controls .popupmenu .popupctrl.imagebutton_hover div {
	font-size: 11px;
	font-family: tahoma;
	overflow: hidden;
	white-space: nowrap;
	padding: 0 3px;
	_display: inline;
}

.editor_controls .imagebutton_disabled {
	opacity:0.4;
	-moz-opacity:0.4;
	filter:alpha(opacity=40);
}

.controlgroup_3 button.imagebutton {
	 display:inline;
	 margin:0;
	 padding:2px;
	 text-align:left;
	 cursor:pointer;
	 border:0px;	 
 }
