




/*
     FILE ARCHIVED ON 16:15:27 thg 4 23, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 11:53:50 thg 1 5, 2016.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
@charset "UTF-8";
/* CSS Document */

.collapse .blockhead .collapse img {
	position:relative;
	top:-4px;
}

.formcontrols .blockrow .dbtech_vbshout_activeusers {
	width:120px !important;
	min-width:120px !important;
	padding-left:6px;
	vertical-align:top;
}

.formcontrols .blockrow .dbtech_vbshout_padding {
	width:6px !important;
	min-width:6px !important;
}

.formcontrols .blockrow .dbtech_shoutarea_left {
	width:25%;
	float:left;
	clear:left;
}

.formcontrols .blockrow .dbtech_shoutarea_right {
	width:25%;
	float:right;
	clear:right;
}
.formcontrols .blockrow .dbtech_shouts {
	width:75%;
}

.formcontrols .blockrow .dbtech_fullshouts {
	width:100%;
}

.formcontrols .blockrow .dbtech_shouts .dbtech_vbshout_tabs.alt {
	border-bottom:1px solid #ffffff;
	position:relative;
	top:1px;
	z-index:2;
	cursor:default;
}

.formcontrols .blockrow .dbtech_shouts .dbtech_vbshout_tabs.alt2 {
	border-bottom:1px solid #2E3539;
	position:relative;
	top:1px;
	cursor:pointer;
}

.formcontrols .blockrow .dbtech_vbshout_smallfont {
	font-size:11px;
}

.formcontrols .blockrow .dbtech_shouts .dbtech_vbshout_tabwrapper {
	border-bottom:1px solid #2E3539;
	margin: 0px;
	padding: 0px;
}

.formcontrols .blockrow .dbtech_shouts .dbtech_vbshout_tabcontainer {
	margin: 0px;
	padding: 0px;
}

.formcontrols .blockrow .dbtech_shouts .dbtech_vbshout_tabs {
	text-align:center;
	white-space:nowrap;
	padding:5px;
	padding-top:3px;
	padding-bottom:4px;
	margin-right:6px;
	border-left:1px solid #2E3539;
	border-right:1px solid #2E3539;
	border-top:1px solid #2E3539;
	font-size:11px;
}

.formcontrols .blockrow .dbtech_shouts .dbtech_vbshout_window {
	border-left:1px solid #2E3539;
	border-right:1px solid #2E3539;
	border-bottom:1px solid #2E3539;
}

.formcontrols .blockrow .dbtech_shouts .dbtech_vbshout_window .dbtech_vbshout_shout {
	margin-top: 1px;
	margin-bottom: 1px;
}

.formcontrols .blockrow .dbtech_shouts .dbtech_vbshout_window .dbtech_vbshout_frame {
	border:0px !important;
	display:block;
	padding:3px;
	padding-left:5px;
	overflow:auto;
	position:relative;
}

.formcontrols .blockrow .dbtech_shouts .dbtech_vbshout_window .dbtech_vbshout_message_frame {
	/*position:absolute;
	padding-bottom:2px;*/
	width:99%;	
}

.formcontrols .blockrow .dbtech_shoutarea li textarea {
	width:95%;
	margin-bottom: 3px;
}

.editor_controls a.popupctrl.dbtech_vbshout_newchat {
	background-image:none;
	padding-right:0;
	_padding-right:0;
	border:0;
}